#compplacement {
    position: absolute;
    top: 30%;
    left: 10%;
    margin-top: -50px;
    margin-left: -50px;
    width: 120%;
    display: flex;
}

section {

    background-color: rgba(255,255,255,0.7);

}

.level {
    margin-top: -15%;
    margin-left: 65%;
    text-align: center;
}


.listText {
    margin-top: 20%;
}

label {
    margin-left: -10%;
}

article {
    margin-left: 2%
}