#compplacement {
    position: absolute;
    top: 30%;
    left: 10%;
    margin-top: -50px;
    margin-left: -50px;
    width: 90%;
    display: flex;
}



.level {
    margin-top: -15%;
    margin-left: 65%;
    text-align: center;
}


.listText {
    margin-top: 20%;
}

