#compplacement {
    position: absolute;
    top: 40%;
    left: 10%;
    margin-top: -50px;
    margin-left: -50px;
    width: 40%;
    display: flex;
}

.container {

    position: absolute;
    right: 30%;

}
  